.Chat__message__left {
  border-radius: var(--default-border-r, 12px) var(--default-border-r, 12px)
    var(--default-border-r, 12px) 0;
  color: #ffffff;
  padding: var(--spacing-md) var(--spacing-lg);
}

.Chat__message__right {
  border-radius: var(--default-border-r, 12px) var(--default-border-r, 12px) 0
    var(--default-border-r, 12px);
  color: #ffffff;
  padding: var(--spacing-md) var(--spacing-lg);
}
