.Chat__message__left {
  border-radius: var(--default-border-r, 12px) var(--default-border-r, 12px)
    var(--default-border-r, 12px) 0;
  background: var(--orange-main-color, rgba(237, 151, 69, 0.5));
  box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  padding: var(--spacing-md) var(--spacing-lg);
  width: 350px;
}

.Chat__message__right {
  border-radius: var(--default-border-r, 12px) var(--default-border-r, 12px) 0
    var(--default-border-r, 12px);
  background: var(--green-main-color);
  box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  padding: var(--spacing-md) var(--spacing-lg);
  width: 350px;
}
