.Glass {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.Glass__green {
  background: linear-gradient(
    135deg,
    rgba(77, 207, 155, 0.7),
    rgba(77, 207, 155, 0.4)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.Glass__orange {
  background: linear-gradient(
    135deg,
    rgba(237, 151, 69, 0.7),
    rgba(237, 151, 69, 0.4)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
