.Glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.Glass__green {
  background: linear-gradient(
    135deg,
    rgba(12, 98, 64, 0.8),
    rgba(12, 98, 64, 0.5)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.Glass__orange {
  background: linear-gradient(
    135deg,
    rgba(197, 114, 36, 0.8),
    rgba(197, 114, 36, 0.5)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
