.Header {
    height: var(--header-height);

    /*background-color: var(--header-color);*/

    transition: opacity 0.26s ease-out;
    filter: drop-shadow(-8px -10px 46px #0000005f);
    backdrop-filter:
            brightness(1.1)
            blur(2px)
            url(#displacementFilter);
}

.Header::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    overflow: hidden;
    -webkit-box-shadow: inset 2px 2px 0px -2px rgba(255, 255, 255, 0.7),
    inset 0 0 3px 1px rgba(255, 255, 255, 0.7);
    box-shadow: inset 6px 6px 0px -6px rgba(255, 255, 255, 0.7),
    inset 0 0 8px 1px rgba(255, 255, 255, 0.7);
}