.Chat {
  border-radius: var(--default-border-r);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Menu__arrowIcon__wrapper {
  padding: var(--default-spacing);
  display: flex;
  justify-content: center;
  align-items: center;
}
.Chat__history {
  display: flex;
  flex-direction: column;
  overflow: auto;
  /* keep scrolling functional but hide native scrollbars */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  gap: 12px;
}

/* Chrome, Safari, Opera */
.Chat__history::-webkit-scrollbar {
  display: none;
}

.Chat__input {
  margin: 8px;
  border-radius: var(--default-border-r);
  outline: none;
  border: none;
  flex-grow: 1;
  padding: var(--default-spacing);
}

.Chat__wrapper {
  display: flex;
  gap: var(--default-spacing);
  padding: var(--default-spacing);
  align-items: center;
}

.Button {
  height: 40px;
  width: 80px;
  border-radius: var(--default-border-r);

  outline: none;
  border: none;
}

.Button:hover {
  scale: 1.05;
  transition: 300ms;
  cursor: pointer;
}

.Layer__list {
  display: flex;
  flex-direction: column;
  padding: var(--default-spacing);
  overflow: hidden;
}

.Layer__item {
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

.Layer__item:hover {
  background-color: rgba(124, 92, 255, 0.1);
}

.User__Message {
  display: flex;

  justify-content: end;
}

.GPT__Message {
  display: flex;

  justify-content: start;
}
