.Chat {
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.Menu__arrowIcon__wrapper {
  width: auto;
  height: fit-content;

  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.Toggle__button {
  height: 36px;
  width: 36px;
  border-radius: var(--default-border-r);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  outline: none;
  border: none;
}

.Toggle__button__icon {
  width: 24px;
  height: 24px;
}

.Toggle__button:hover {
  scale: 1.05;
  transition: 300ms;
  cursor: pointer;
}

.Chat__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  width: 100%;
}

.Chat__history {
  display: flex;
  flex-direction: column;
  /* keep scrolling functional but hide native scrollbars */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  gap: 12px;
  padding: var(--spacing-md);
  overflow: auto;
  flex: 1 1 auto;
}

/* Chrome, Safari, Opera */
.Chat__history::-webkit-scrollbar {
  display: none;
}

.Chat__input {
  border-radius: var(--default-border-r);
  outline: none;
  border: none;
  flex-grow: 1;
  padding: var(--default-spacing);

  resize: none;
}

.Chat__wrapper {
  height: 48px;

  display: flex;
  gap: 8px;
  padding: 12px;
  align-items: center;
}

.Button {
  height: 48px;
  width: 48px;
  border-radius: var(--default-border-r);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  outline: none;
  border: none;
}

.Button__icon {
  height: 24px;
  width: 24px;
}

.Button:hover {
  scale: 1.05;
  transition: 300ms;
  cursor: pointer;
}

.Layer__list {
  display: flex;
  flex-direction: column;
  padding: 0 12px 12px 12px;
  overflow: hidden;
  flex: 0 0 auto;
}

.User__Message {
  display: flex;

  justify-content: end;
}

.GPT__Message {
  display: flex;

  justify-content: start;
}
