.Main__wrapper {
  width: 100%;
  height: 100vh;

  background-color: var(--main-bg-color);
}

.Header {
  width: 100%;

  position: sticky;

  top: 0;
  right: 0;
  left: 0;
}

.Map {
  width: 100%;
  max-height: calc(100vh - var(--header-height));
}

.LayerPicker {
  position: absolute;
  top: var(--header-height);
  right: 0;

  max-height: calc(100vh - var(--header-height));
}