.Main__wrapper {
  width: 100%;
  height: 100vh;

  background-color: var(--main-bg-color);
}

.Header {
  position: sticky;

  top: 0;
  right: 0;
  left: 0;

  z-index: 1000;
}

.Map {
  width: 100%;
  /*max-height: calc(100vh - var(--header-height));*/

  position: absolute;


  z-index: 100;
}

.LayerPicker {
  position: absolute;

  height: calc(100vh - var(--header-height));

  top: var(--header-height);
  left: 0;

  max-height: calc(100vh - var(--header-height));
}
.Chat {
  width: 400px;
  height: calc(100vh - var(--header-height) - 16px - 16px);
  position: absolute;

  top: calc(var(--header-height) + 16px);
  right: 16px;

  z-index: 1000;
}

.MobileChat {
  max-height: calc(100vh - var(--header-height) - 32px);
  width: calc(100% - 16px - 16px);
  position: absolute;

  bottom: 16px;
  right: 16px;
  left: 16px;

  z-index: 1000;
}
